* {
  margin: 0;
  border: 0;
  font-size: 100%;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

body {
  padding: 15px;
  margin: 5px;
}

header {
  background-color: #f1f1f1;
  padding: 0px 10px 10px 10px;
  background-image: url("../images/flywheel.jpg");
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

nav {
  display: inline-block;
  height: 90px;
  margin: 40px 20px 0px 20px;
}

nav > a {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 20px 40px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 0px 70px 10px 70px;
  transition-property: background-color, color;
  transition-duration: 1.2s;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 300%;
  font-variant: small-caps;
}

.left {
  display: inline-block;
  width: 25%;
  background-color: rgb(50, 81, 42);
}

img {
  box-sizing: border-box;
  display: block;
  width: 85%;
  height: 15%;
  margin: 30px 20px 30px 20px;
  border: 2px solid black;
  background-color: aqua;
}

.active {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 0, 0);
  opacity: 1;
}

h2 {
  font-size: 200%;
  font-weight: bolder;
  margin: 8px;
}

.right,
.right1,
.right2 {
  list-style-position: inside;
  display: inline-block;
  padding-left: 3px;
  width: 74%;
  position: absolute;
  clear: left;
}

abbr {
  text-decoration: none;
}

th {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

ul {
  display: inline-block;
  clear: both;
}

p {
  padding-left: 6px;
}

a:hover,
a:focus {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.right1 a:hover,
.right1 a:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 81, 42);
}

table {
  font-family: "Times New Roman", Times, serif;
  font-size: 105%;
  font-weight: 400;
  line-height: 200%;
  width: 80%;
  margin: 0 auto;
}

th {
  border: 2px solid rgb(40, 169, 38);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-image: linear-gradient(rgb(38 118 32), rgb(48 145 71));
  border-radius: 5px 5px 0px 0px;
  border-bottom: 4px solid rgb(37, 128, 35);
}

th,
td {
  opacity: 0.8;
  text-align: center;
}

tr th:first-child,
tr td:first-child {
  opacity: 0.8;
  text-align: left;
}

th:hover,
tr th:first-child:hover,
tr td:first-child:hover,
td:hover {
  opacity: 1;
}

tr td {
  background-color: rgb(53, 205, 86);
  padding: 4px;
  border-radius: 2px;
  text-shadow: 0.5px 0.5px;
}
