#h1com{
    float: right;
}

#heading{
    background: rgb(167, 227, 218);
}

img{
    height: 300px;
    max-width: 100%;
    width: 100%;
    transition: 1s ease;
    opacity: 0.7;
}

img:hover{
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
    transition: 1s ease;
    box-shadow: 0 0 0 5px #000000;
    opacity: 1.0;
}