* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

fieldset{
    background-color: rgb(166, 172, 168);
}

h1{
    color: #f30606;
    font-family: Courier;
    font-variant: small-caps;
    background-color: rgb(31, 237, 8);
    text-align: center;
    font-size: 300%;
    font-style: inherit;
    border: 3px solid #000000;
    box-sizing: border-box;
    margin: 5px;
    font-weight: 800;
    border-radius: 10px;
    /*background-image: linear-gradient(rgb(31, 237, 8), rgb(255, 255, 255));*/
}

footer{
    font-family: Arial;
    background-color: rgb(105, 203, 139);
    text-align: left;
    clear: both;
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: auto;
}

h2{
    background-color: rgb(31, 237, 8) !important;
}

h3, h2{
    color: #000000;
    font-family: Courier;
    font-variant: small-caps;
    background-color: rgb(105, 203, 139);
    text-align: left;
    font-weight: 600;
    padding: 4px;
    padding-left: 6px;
    border-radius: 10px;
}

.S1, .S2{
    width: 49%;
    margin: 4px;
    display: inline;
    float: left;
    padding-left: 2px;
}

.S3{
    margin: 4px;
    padding-left: 2px;
    clear: both;
}

.submit{
    text-align: center;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

legend{
    color: #0808f0;
    font-family: Courier;
    font-variant: small-caps;
    background-color: rgb(105, 203, 139);
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    padding: 6px;
    border: 3px solid #000000;
    border-radius: 10px;
}

nav{
    font-family: Courier;
    font-variant: small-caps;
    background-color: rgb(7, 14, 214);
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 3px solid #000000;
    margin: 3px;
    border-radius: 10px;
}

progress{
    margin-top: 3px;
    margin-left: 2px;
}

summary, button{
    color: #ffffff;
    font-family: Arial;
    font-variant: inherit;
    background-color: rgb(7, 4, 214);
    text-align: left;
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
}

button:focus{
    border: #ffffff;
    background-color: rgb(31, 237, 8);
    color: #000000;
}

div, label, li{
    color: rgb(0,0,0);
    background-color: rgb(174,216,182);
    font-variant: normal;
    font-family: Arial;
    margin: 4px;
}

button:active, button:hover{
    color: #000000;
    background-color: rgb(31, 237, 8);
}
figure{
    display: inline;
}

img{
    width: 70px;
}

a{
    color: rgb(255,255,255);
    text-decoration: none;
}

.links:hover, .links:focus{
    color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

#link1{
    color: #4608f0;
    text-decoration: underline;
}

#link1:hover, #link1:focus{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 8px;
}

#div{
    font-style: italic;
    color: #000000;
    background-color: rgb(174 216 182);
}

fieldset, table{
    border: 3px solid #000000;
}

body{
    margin: 2%;
}

ul{
    list-style-type: square;
    margin: 4px;
    list-style-position: inside;
}

.S1 label{
    margin: 4px;
}

tr{
    color: #000000;
    background-color: rgb(105, 203, 139);
}

#P1{
    margin-top: 3px;
}

.gender{
    background-color: rgb(105, 203, 139);
}

span{
    font-size: medium;
}

#others-text{
    display: none;
}