body {
  margin: 1%;
  padding: 1%;
  background-color: rgba(0, 0, 255, 0.2);
  font-size: 100%;
  min-width: 500px;
}
header,
footer {
  background-color: #0066ff;
  padding: 1%;
  margin: 1%;
}
header h1 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

section {
  margin: 1%;
  padding: 1%;
}

nav a {
  display: block;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  border-radius: 35px;
  text-decoration: none;
  padding: 2%;
  margin: 1%;
}

h1 {
  text-align: center;
  color: rgba(255, 0, 0, 0.7);
}

.myClass {
  margin: 0em 1em;
  padding: 0.75em;
  border: 1px solid black;
  border-radius: 0.25%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

ol {
  list-style: upper-roman;
  margin: 1em;
}
img {
  display: none;
}

footer {
  clear: both;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 400px) {
  img {
    display: inline-block;
    width: 24%;
    height: 6rem;
  }
  #left {
    float: left;
    width: 30%;
    padding-top: 0%;
    margin: initial;
  }
  #center {
    padding-top: 0%;
    padding-bottom: 0%;
    display: inline-block;
    width: 65%;
    margin: initial;
  }
  div:nth-child(3) {
    padding: 3% 3% 0% 3%;
  }
  body header {
    background-color: rgba(0, 0, 255, 0.001);
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  footer {
    background-color: rgba(0, 0, 255, 0.001);
  }
  footer > p {
    margin-top: 0%;
  }
  h1:after {
    content: "(I guess...)";
  }
}

@media print {
  h1 {
    font-size: 1em;
  }
  img {
    display: none;
  }
  nav a {
    display: block;
    background-color: white;
    border: 0px !important;
    text-align: center;
    border-radius: 0px !important;
    text-decoration: none;
    padding: 0% !important;
    margin: 0% !important;
  }
}
